name: Continuous Deployment - EC2 
 
on: 
  push: 
    branches: 
      - main 
 
jobs: 
  deploy: 
    runs-on: ubuntu-latest 
 
    steps: 
      - name: Checkout 
        uses: actions/checkout@v4 
 
      - name: Deploy to EC2 
        uses: appleboy/ssh-action@v1.0.0 
        with: 
          host: ${{ secrets.EC2_HOST }} 
          username: ${{ secrets.EC2_USER }} 
          key: ${{ secrets.EC2_KEY }} 
          script: | 
            cd ${{ secrets.APP_PATH }} 
            git pull origin main 
            npm install --production 
            pm2 stop all || true 
            pm2 start index.js 
